*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, sans-serif;
    box-sizing: border-box;
}

.Background{
    background: url(imgs/icon/Polish_20260615_060934697.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.Background FirstHalf {
    background-color: rgb(217,79,112);
    border-radius: 20px;
    color: rgb(255,241,245);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 20%;
    text-align: center;
}

.Background FirstHalf biggie{
    font-size: 25px;
    margin: 1%;
}

.Background FirstHalf half{
    font-size: 22.5px;
    margin: 1%;
}

.Background FirstHalf tiny{
    font-size: 17.5px;
    margin: 1%;
}
.Background SecondHalf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.Background SecondHalf .amor{
    font-size: 25px;
    text-align: center;
    width: 370px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(255,200,216);
}

.Background SecondHalf .apaixonados{
    width: 370px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Background SecondHalf .quantidade{
    width: 100px;
    font-size: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(217,79,112);
    color: rgb(255,241,245);
}

.Background ThirdHalf{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Background ThirdHalf .lembra{
    background-color: rgb(255,143,177);
    display: flex;
    font-size: 22px;
    color: rgb(255,241,245);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    border-radius: 7px;
    text-align: center;
}

.Background ThirdHalf .lembra #diasJuntos{
    background-color: rgb(255,200,216);
    color: black;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}

.Background ThirdHalf musica{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Background ThirdHalf musica .nomeMusica{
    font-size: 18px;
    font-weight: bold;
}

.Background ThirdHalf musica botoes{
    display: flex;
    justify-content: space-between;
}

.Background ThirdHalf musica botoes button{
    width: 70px;
    height: 25px;
    margin: 2%;
}

.Background ThirdHalf musica img{
    width: 50%;
}
